.about-company {
	background-color: #fff;
	// padding: 75px 0 64px;
	padding: 45px 0 40px;

	.title {
		width: 100%;
		margin-bottom: 27px;
	}

	.content {}

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
		margin-bottom: 20px;
	}

	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: #263057;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}