.form-1 {
	margin-bottom: 30px;

	.container {
		max-width: 1180px;
		background: linear-gradient(92.37deg, #263057 29.38%, #1D1444 100.81%);
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		padding: 25px 20px;

		.title {
			font-weight: 700;
			font-size: 20px;
			line-height: 130%;
			color: #FFFFFF;
			text-transform: capitalize;
			margin-bottom: 20px;
		}

		.input {
			width: 100%;
			height: 46px;
			padding: 12px;
			margin-bottom: 15px;
			border-radius: 5px;
			background: #FFFFFF;
		}

		input:focus {
			border: 2px solid #6984F0;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
		}

		.input.error {
			border-color: red;
		}

		.input::placeholder {
			color: #263057;
		}

		.checkbox__label {
			user-select: none;
		}

		.checkbox__input.error+.checkbox__label {
			color: red;
		}

		.checkbox__label {
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			color: #FFFFFF;
			padding: 0 0 0 10px;
		}

		.form__group:nth-child(3) {
			display: flex;
			margin-bottom: 15px;

		}

		.btn {
			width: 100%;
			margin: 0 auto;
		}


	}


}