.form-2 {
	margin-bottom: 30px;

	.container {
		max-width: 1180px;
		background: linear-gradient(92.37deg, #263057 29.38%, #1D1444 100.81%);
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		padding: 25px 20px;

		.title {
			text-align: left;
			font-weight: 700;
			font-size: 20px;
			line-height: 130%;
			color: #FFFFFF;
			text-transform: none;
			margin-bottom: 20px;
		}


		.input.error {
			border-color: red;
		}

		.input-2 {
			width: 100%;
			height: 46px;
			padding: 12px;
			margin-bottom: 15px;
			border-radius: 5px;
			background: #FFFFFF;
		}

		// input {
		// 	font-weight: 400;
		// 	font-size: 16px;
		// 	color: #263057;
		// }

		input:focus {
			border: 2px solid #6984F0;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
		}

		.input-2.error {
			border-color: red;
		}

		.input-2::placeholder {
			color: #263057;

		}




		.form__group-2:nth-child(1) {


			svg {
				position: absolute;
				width: 23px;
				height: 28px;
				fill: #263057;
				top: 10px;
				left: 10px;
			}

			input {
				padding: 0 0 0 40px;
			}

			div {
				position: relative;
				flex: 1;
			}

			.result__blox {
				position: absolute;
				right: 0;
				top: 55px;
				background-color: rgba(0, 0, 0, 0.937);

				border-radius: 5px;
				width: calc(100% - 2px);



				li {
					color: #FFFFFF;
					padding: 10px;
					transition: background-color .3s ease;

					&:hover {
						border-radius: 5px;
						background-color: #041970;
					}
				}
			}
		}

		.form__group-2:nth-child(3) {
			display: flex;
			margin-bottom: 15px;

		}

		.btn {
			width: 100%;
			margin: 0 auto;
		}


	}

	.search__list {
		position: absolute;
		top: 55px;
		border-radius: 5px;
		// border: #1D1444 solid 1px;
		left: 65px;
		background-color: #FFFFFF;
	}

	.search__item {
		display: none;
		border-radius: 5px;
		min-width: 320px;
		padding: 10px 10px;
		transition: background-color 0.3s ease;
		user-select: none;

		&:hover {
			background-color: #6984F0;
		}
	}


}