.footer {
	padding: 40px 0 40px;

	.footer-top {
		margin-bottom: 20px;

		&__menu {
			order: 0;
		}

		.buttons {
			&__grup-btns {
				flex-direction: row;


				a {
					min-width: 160px;
					margin-bottom: 0px;
					margin-right: 20px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			&__phone {
				justify-content: start;
				border: none;
				padding: 0;
			}
		}

		.social {
			&__list {
				justify-content: start;
				margin-bottom: 0;
			}
		}

		.menu {
			border: none;
			padding: 0;
			margin-bottom: 20px;

			&__list {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&__item {
				text-align: start;

				li {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.footer__bottom {
		display: flex;
		color: white;
		font-size: 14px;
		flex-wrap: wrap;
		padding-top: 0;
		text-align: start;


		.copyright {
			width: 25%;
			margin-bottom: 0;
			opacity: 0.3;
		}

		.text__description {
			width: 50%;
			margin-bottom: 0;
			opacity: 0.3;
			line-height: 140%;

			a {
				color: white;
				display: inline-block;
				text-decoration: none;
				position: relative;
				line-height: 1;
			}
		}

		.developer {
			width: 25%;
			align-items: flex-start;
			justify-content: flex-end;

			svg {
				fill: #ffffff;
				width: 127px;
				height: 21px;
				opacity: 0.3;
				transition: 0.3s ease;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

}